* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: khaki;
}

button, input[type="text"] {
  padding: 10px;
  margin: 10px 0;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

#bookmark-list-item {
  width: 250px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.bookmark-list {
  list-style: none;
  padding-left: 0;
}

.bookmark-list > li {
  margin: auto;
  margin-bottom: 20px;
  border: 1px solid black;
  background-color: darkkhaki;
  width: 500px;
}


.bookmark-list > li > div{
  padding: 0px 15px;
  text-align: left;
  margin: auto;
  clear: both;
}


.bookmark-list > li > .desc-box {
  overflow: hidden;
}

.bookmark-list > li > div > button, .starholder{ 
  float: right;
  margin: 5px;
}

.bookmark-item {
  display: block;
  color: grey;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
}

#js-bookmark-list-form{
  display: inline-block;
  width: 60%;
}

textarea {
  resize: none;
}

.js-title-entry , .js-url-entry{
  margin-bottom: 10px;
}